.landing_page {
    height: 100vh; 
    background: url('../../Assets/landing.jpg') no-repeat center center fixed; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
